@{
    ViewData["Title"] = "Home - Clube da Literatura";
}

<div class="text-center">
    <h1 class="display-4">!!Seja Bem-Vindo(a)!!</h1>
    <p>Vamos usar esse site como biblioteca para alugar e vender Livros e Filmes</p>
</div>
